.CardItem-detail{

    background-color: rgb(219, 224, 220);
    height: auto;
    width: 600px;
    margin-top: 10px;
    border-radius: 30px;
}

.Header{
    margin-bottom: 15px;
}

.Header h2{
    font-size: xx-large;
}

picture #ItemImgDetail{

    height: 500px;
    width: auto;
    margin-bottom: 15px;
}

.sectionDetail{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.InfoDetail{
    font-weight: bolder;
    font-size: large;
}

.cuerpo{
    text-align:justify;
    font-size: medium;
    margin: 0 15px 0 15px;

}

.precio{
    color: blueviolet;
    font-size: x-large;
}

.ItemFooter{
    height: 100px;
    
}